.main-top-nav {
    top: 0;
    height: 100%;
    width: 96%;
    justify-content: space-between;
}
.nav-main {
    top: 0;
    height: 100%;
    width: 65%;
    font-size: medium;
}
.logo {
    /* position: absolute; */
    top: 1em;
    left: 2em;
    /* font-size: large; */
    height: 100%;
    width: 10%;
}
img.logo-img {
    height: 6em;
    border-radius: 50%;
    width: 6em;
}
.profile {
    /* position: absolute; */
    top: 1em;
    right: 2em;
    font-size: large;
    height: 100%;
    width: 5%;
}
.navbar-div {
    width: 85%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.moon {
    height: 1.4em;
}